/* HTML DEFAULTS */

html {
  color: #000;
  font-size: 10pt;
  font-family: {{report_font}}, monospace;
  text-align: justify
}


/* PAGES */

@page {
  size: A4 portrait;
  margin: 2.5cm;
  padding-top: 1cm;
  @top-left {
    background: #729fcf;
    content: counter(page);
    font-style: italic;
    height: 1cm;
    text-align: center;
    width: 1cm;
  }
  @top-center {
    background: #729fcf;
    content: '';
    display: block;
    height: .05cm;
    opacity: 1;
    width: 100%;
  }
  @top-right {
    content: string(heading);
    font-style: italic;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
}

@page :first {
  margin-top: 5cm;
  @top-left { background: none; content: '' }
  @top-center { content: none }
  @top-right { content: none }
}

@page:left {
  margin-left: 2.5cm;
  margin-right: 2.5cm;
}

@page:right {
  margin-left: 2.5cm;
  margin-right: 2.5cm;
}

@page:blank {
  size: A4 portrait;
  @top-left { background: none; content: '' }
  @top-center { content: none }
  @top-right { content: none }
}

@page portrait{
  size: A4 portrait;
}

@page landscape{
  size: A4 landscape;
}

#cover {
  page: portrait;
}

#contents {
  page: portrait;
}

#contents ul li {
  padding: .1cm;
  border-bottom: .25pt solid #729fcf;
}

#contents ul li a:before {
  content: target-text(attr(href));
}
#contents ul li a:after {
  content: target-counter(attr(href), page);
  font-style: italic;
  float: right;
}

#boq {
  page: landscape;
}

/* ARTICLES */

article {
  page-break-after: always;
}

/* ARTICLES */

address {
  font-style: italic;
}

footer {
  position:absolute;
  bottom:0;
}
  
/* LINKS */

a { 
  color: blue;
  text-decoration: none; 
}

/* TABLES */
  
table {
  table-layout: auto;
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #2e3436;
  padding: 2px;
  text-align: left;
  word-wrap: break-word;
} 

table thead th:nth-child(1) {width: 5%;}

thead {
  background-color: #729fcf;
  font-weight: bold;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #eeeeec;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

caption {
  padding: 10px;
  font-style: italic;
  caption-side: bottom;
  color: #2e3436;
  text-align: left;
}

table.element_fields {table-layout: fixed; width: 100%;}
table.element_fields thead th:nth-child(1) {width: 10%;}
table.element_fields thead th:nth-child(2) {width: 40%;}
table.element_fields thead th:nth-child(3) {width: 40%;}
table.element_fields thead th:nth-child(4) {width: 10%;}

table.boq_lines {table-layout: fixed; width: 100%;}
table.boq_lines thead th:nth-child(1) {width: 5%;}
table.boq_lines thead th:nth-child(2) {width: 5%;}
table.boq_lines thead th:nth-child(3) {width: 10%;}
table.boq_lines thead th:nth-child(4) {width: 10%;}
table.boq_lines thead th:nth-child(5) {width: 5%;}
table.boq_lines thead th:nth-child(6) {width: 5%;}
table.boq_lines thead th:nth-child(7) {width: 5%;}
table.boq_lines thead th:nth-child(8) {width: 5%;}
table.boq_lines thead th:nth-child(9) {width: 5%;}
table.boq_lines thead th:nth-child(10) {width: 5%;}
table.boq_lines thead th:nth-child(11) {width: 10%;}
table.boq_lines thead th:nth-child(12) {width: 10%;}
table.boq_lines thead th:nth-child(13) {width: 10%;}

table.boq_loads {table-layout: fixed; width: 100%;}
table.boq_loads thead th:nth-child(1) {width: 3%;}
table.boq_loads thead th:nth-child(2) {width: 3%;}
table.boq_loads thead th:nth-child(3) {width: 10%;}
table.boq_loads thead th:nth-child(4) {width: 5%;}
table.boq_loads thead th:nth-child(5) {width: 5%;}
table.boq_loads thead th:nth-child(6) {width: 5%;}
table.boq_loads thead th:nth-child(7) {width: 5%;}
table.boq_loads thead th:nth-child(8) {width: 5%;}
table.boq_loads thead th:nth-child(9) {width: 5%;}
table.boq_loads thead th:nth-child(10) {width: 10%;}
table.boq_loads thead th:nth-child(11) {width: 10%;}

table.boq_switches {table-layout: fixed; width: 70%;}
table.boq_switches thead th:nth-child(1) {width: 10%;}
table.boq_switches thead th:nth-child(2) {width: 15%;}
table.boq_switches thead th:nth-child(3) {width: 15%;}
table.boq_switches thead th:nth-child(4) {width: 15%;}
table.boq_switches thead th:nth-child(5) {width: 15%;}
table.boq_switches thead th:nth-child(6) {width: 15%;}
table.boq_switches thead th:nth-child(7) {width: 15%;}

table.boq_nodes {table-layout: fixed; width: 70%;}
table.boq_nodes thead th:nth-child(1) {width: 10%;}
table.boq_nodes thead th:nth-child(2) {width: 15%;}
table.boq_nodes thead th:nth-child(3) {width: 15%;}
table.boq_nodes thead th:nth-child(4) {width: 15%;}
table.boq_nodes thead th:nth-child(5) {width: 15%;}
table.boq_nodes thead th:nth-child(6) {width: 15%;}
table.boq_nodes thead th:nth-child(7) {width: 15%;}

/* GRAPHIC CONTENTS */

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

dt {
  font-weight: bold;
}
/* GRAPHIC CONTENTS */
  
  img {
    page-break-inside: avoid;
  }
  
/* GENERAL OUTLINE */

  h1 {
    padding-bottom: 0.25cm;
    border-bottom: 5pt solid #729fcf;
  }

  h2 { 
    string-set: heading content() 
  }
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
}

