appdirs==1.4.4
Brotli==1.1.0
cffi==1.16.0
contourpy==1.2.1
cssselect2==0.7.0
cycler==0.12.1
deepdiff==7.0.1
et-xmlfile==1.1.0
fonttools==4.53.1
html5lib==1.1
Jinja2==3.1.4
kiwisolver==1.4.5
llvmlite==0.43.0
Mako==1.3.5
MarkupSafe==2.1.5
matplotlib==3.9.1
networkx==3.3
numba==0.60.0
numpy==1.26.4
openpyxl==3.1.5
ordered-set==4.1.0
packaging==24.1
pandapower==2.14.9
pandas==2.2.2
pillow==10.4.0
pycparser==2.22
pydyf==0.11.0
pyparsing==3.1.2
pyphen==0.15.0
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.1
shapely==2.0.5
six==1.16.0
tinycss2==1.3.0
tqdm==4.66.4
tzdata==2024.1
weasyprint==62.3
webencodings==0.5.1
zopfli==0.2.3
