[Desktop Entry]
Type=Application
Name=GElectrical
Comment=Free and opensource electrical system analysis software for LV/MV electrical distribution networks.
Exec=/app/bin/gelectrical_launcher.py %U
StartupNotify=true
Icon=com.kavilgroup.gelectrical
MimeType=application/gepro;
Categories=GNOME;GTK;Science;
