[Desktop Entry]
Type=Application
Name=GElectrical
Comment=GElectrical is a graphical frontend to pandapower for power supply simulation and analysis with emphasis on electrical distribution and utilisation networks.
Exec=/app/bin/gelectrical.py %U
StartupNotify=true
Icon=com.kavilgroup.gelectrical
MimeType=application/gepro;
Categories=GNOME;GTK;Science;
